*.DS_Store
*.sconsign.dblite
*.out
*.ini
*.asc
*.bin
*.blif
*.log
*.vcd
*.mo

*.swp
*~
icerok.capture.raw
.tmp
.vscode
resources/collection
resources/locale/**/*.json
bower_components
cache
dist
docs/_build
node_modules
