*.DS_Store
*.sconsign.dblite
*.out
*.ini
*.asc
*.bin
*.blif
*.log
*.vcd
*.mo

*.swp
*~
/icerok.capture.raw
/.tmp/
/.vscode/
/locale/**/*.json
/cache/
/dist/
/docs/_build/
/docs/_theme/
/nmodules/
/node_modules/
